@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --black: #000000;
    --yellow: #FDDD02;
    --dark-yellow: #CEBE0A;
    --ligh-brown: #48463A;
}

body {
    background: #000000;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.parent-b {
    height: 100vh;
    position: relative;
}

.children {
    overflow: hidden;
    position: absolute;
}

.title {

    display: flex;
    justify-content: center;
    width: 100%;
}

.space {
    width: 100%;
    height: 200px;
}

.title h1 {

    font-size: 250px;
    color: var(--yellow);
    font-family: 'Roboto mono', monospace;
    font-weight: bolder;
    margin: 0 auto;
}



nav .nav-div {
    background-color: transparent;
    width: 100%;
    height: 100px;
    /* transition: all 1s ease-in; */

}

nav {
    transition: all 0.5s ease-in;
}

nav.scrolled {
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    position: fixed;
    top: 0;
    width: 100%;
}

nav .nav-div {
    text-align: center;
    line-height: 100px;
}

nav .nav-div a {
    margin-left: 20px;
    margin-right: 20px;
    float: right;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto mono', monospace;
    color: #ffffff;

    padding: 10px;
    transition: all 0.2s ease-in;
}

nav .nav-div a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #ffea0054;
    font-size: 35px;
}

nav .nav-div .logo {
    float: left;
}

.content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;

}

.img {
    float: left;
    width: 650px;
    height: 65px;
}