@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --black: #000000;
    --yellow: #FDDD02;
    --dark-yellow: #CEBE0A;
    --ligh-brown: #48463A;
}

body {
    background: #000000;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.parent-b {
    height: 100vh;
    position: relative;
}

.children {
    overflow: hidden;
    position: absolute;
}

.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.space {
    width: 100%;
    height: 210px;
}

.title h1 {

    font-size: 250px;
    color: var(--yellow);
    font-family: 'Roboto mono', monospace;
    font-weight: bolder;
    margin: 0 auto;
}



nav .nav-div {
    background-color: transparent;
    width: 100%;
    height: 100px;
    /* transition: all 1s ease-in; */

}

nav {
    transition: all 0.5s ease-in;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
}



nav .nav-div {
    text-align: center;
    line-height: 100px;
}

nav .nav-div a {
    margin-left: 20px;
    margin-right: 20px;
    float: right;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto mono', monospace;
    color: #ffffff;

    padding: 10px;
    transition: all 0.2s ease-in;
}

nav .nav-div a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #ffea0054;
    font-size: 35px;
}

nav .nav-div .logo {
    float: left;
}

.content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;

}

.content p {
    color: white;
    font-family: 'Roboto mono', monospace;
}

.container-typing {
    display: inline-block;
}

.typed-out {
    color: whitesmoke;
    overflow: hidden;
    border-right: .16em solid orange;
    white-space: nowrap;
    animation:
        typing 3.5s steps(40) forwards;
    font-size: 45px;
    width: 0;
}

.terminal {
    border-right: #ffffff 1.5px solid;
    border-bottom: #ffffff 1.5px solid;
    border-left: #ffffff 1.5px solid;
    border-radius: 5px;
}

.text {
    padding: 20px;
}

.tile {


    border: 1.5px solid white;
    border-radius: 5px;
    height: 40px;
    width: 100%;
}

.buttons {
    align-items: center;
    line-height: 40px;
    display: flex;
    flex-direction: row;

    height: 40px;
}

.buttons .red {
    border: 2px solid #ff605c;
    background-color: #ff605c;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;


}

.buttons .yellow {
    border: 2px solid #ffbd44;
    background-color: #ffbd44;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;


}

.buttons .green {
    border: 2px solid #00ca4e;
    background-color: #00ca4e;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;


}

/* 
.child {
    height: 100vh;
} */

.typed-out span {
    color: #FDDD02;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@media only screen and (max-width: 900px) {
    .title h1 {
        font-size: 120px;
    }

    .typed-out {
        font-size: 20px;
    }

    .text {
        padding: 10px;
    }

    .text p {
        font-size: 15px;
        font-weight: normal;
    }

    .buttons .red {

        height: 10px;
        width: 10px;

        margin-left: 5px;
        margin-right: 5px;


    }

    .buttons .yellow {

        height: 10px;
        width: 10px;

        margin-left: 5px;
        margin-right: 5px;


    }

    .buttons .green {

        height: 10px;
        width: 10px;

        margin-left: 5px;
        margin-right: 5px;

    }

    .tile {
        height: 30px;
    }

    .buttons {
        line-height: 30px;
        height: 30px;
    }

    nav .nav-div {
        display: flex;
        flex-direction: row-reverse;
        background-color: transparent;
        width: 100%;
        height: 50px;
        /* transition: all 1s ease-in; */

    }

    nav {
        transition: all 0.5s ease-in;
        position: fixed;
        top: 0;
        width: 100%;
        border-radius: 20px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    }



    nav .nav-div {
        text-align: center;
        line-height: 50px;
    }

    nav .nav-div a {
        margin-left: 5px;
        margin-right: 5px;
        float: right;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Roboto mono', monospace;
        color: #ffffff;

        padding: 5px;
        transition: all 0.2s ease-in;
    }

    nav .nav-div a:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: #ffea0054;
        font-size: 17px;
    }

    /* nav .nav-div .logo {
        float: left;
    } */
}